@import '../../breakpoints.scss';

.article-page__main {
  max-width: 900px;
  padding-top: 30px;

  @include at($min, $phone) {
    padding-top: 50px;
  }
}

.article-page {
  .article__title {
    margin-bottom: 25px;

    @include at($min, $phone) {
      margin-bottom: 60px;
    }
  }

  .article__image {
    margin-bottom: 25px;

    @include at($min, $phone) {
      margin-bottom: 30px;
    }
  }

  .article__rights {
    margin-bottom: 10px;

    @include at($min, $phone) {
      margin-bottom: 15px;
    }
  }

  .article__published-at {
    margin-bottom: 30px;

    @include at($min, $phone) {
      margin-bottom: 40px;
    }
  }

  .article__content {
    @include at($min, $phone) {
      margin-bottom: 20px;
    }
  }
}
