@import '../../breakpoints.scss';

.article {
  margin-bottom: 50px;
  line-height: 1.7;
  font-size: 14px;
  letter-spacing: 0.3px;

  &:last-child {
    margin-bottom: 0;
  }

  @include at($min, $phone) {
    display: flex;
    margin-bottom: 100px;
    align-items: flex-start;
  }
}

.article__image {
  margin-bottom: 20px;
  max-width: 100%;
  vertical-align: middle;
}

.article__title {
  margin: 0 0 15px;
  color: #1b1919;
  font-size: 24px;
  line-height: 1.2;
}

.article__author,
.article__rights {
  display: block;
  margin-bottom: 15px;
  color: #787878;
}

.article__author-name,
.article__source-name {
  color: #7ca982;
}

.article__author-name {
  font-style: italic;
}

.article__published-at {
  display: block;
  margin-bottom: 15px;
}

.article__content {
  margin: 0 0 15px;
  color: #4c4c4c;
}

.article__read-more {
  color: #6d6d6d;
  border-bottom: 1px solid #b5b5b5;
  text-decoration: none;
}
